ul {
  padding: 0;
  list-style: none;
}

.back {
  text-align: center;
  padding-bottom: 3rem;
}

h3 {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

h2 {
  font-size: 2rem;
}

.info {
  text-decoration: none;
}

mat-icon {
  display: flex;
  color: #b0b0b0;
  align-items: center;
}
